{% extends '_base.html' %}
{% load staticfiles %}
{% load sass_tags %}

{% block head_css %}
  <link rel="stylesheet" href="{% static 'css/vendor/featherlight.min.css' %}">
  <link rel="stylesheet" href="{% sass_src 'css/wazimap_youth.scss' %}">
{% endblock %}


{% block favicon %}
    <link rel="shortcut icon" href="{% static 'img/youth-favicon.ico' %}"/>
{% endblock %}

{% block header_logo %}
<img src="{% static 'img/youth-logo.png' %}">
{% endblock %}

{% block header_menu %}
  <li><a href="/about">About</a></li>
  <li><a href="/help">Help</a></li>
{% endblock %}

{% block header_branding %}
{% endblock %}

{% block body_javascript_extra %}
{{ block.super }}
<!--Start of Zendesk Chat Script-->
  <script type="text/javascript">
   window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
       d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
									     _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
       $.src="https://v2.zopim.com/?4i7Iq4DZ2A1k3ggcnEZBWXw7YB8IZsnG";z.t=+new Date;$.
										     type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
  </script>

  <script type="text/javascript" src="{% static 'js/wazimap-youth.js' %}"></script>
<!--End of Zendesk Chat Script-->
{% endblock %}
