{% load staticfiles %}

<div class="clearfix">
<div class="column-quarter">
  <ul class="ul-icon-list">
    <li>
      <i class="fa fa-info"></i>
      <a href="/about">About {{ WAZIMAP.name }}</a>
    </li>
    <li>
      <i class="fa fa-info"></i>
      <a href="/help">Help</a>
    </li>
    <li>
      <i class="fa fa-envelope"></i>
      <a href="mailto:youthexplorer@uct.ac.za">Feedback</a>
    </li>
  </ul>
</div>
<div class="column-quarter">
  <ul class="ul-icon-list">
    <li>
      <i class="fa fa-file"></i> <a href="{% static 'docs/Youth Explorer-Metadata.xlsx' %}" target="_blank">Download Metadata</a>
    </li>
    <li>
      <i class="fa fa-github"></i> <a href="https://github.com/OpenUpSA/wazimap-za" target="_blank">{{ WAZIMAP.name }} on Github</a>
    </li>
  </ul>
</div>
<div class="column-half">
  <ul class="ul-icon-list">
    <li>
      <i class="fa fa-bar-chart-o"></i> <a href="http://www.statssa.gov.za/?page_id=6283" target="_blank">CS 2016 data from Stats SA</a>
    </li>
    <li>
      <i class="fa"></i> <a href="http://www.statssa.gov.za/" target="_blank">Census 2011 data from Stats SA</a>
    </li>
    <li>
      <i class="fa"></i> <a href="http://www.saps.gov.za/index.php" target="_blank">Crime data from SAPS</a>
    </li>
    <li>
      <i class="fa"></i> <a href="https://www.westerncape.gov.za/dept/education" target="_blank">Education data from  WC Education Dept</a>
    </li>
    <li>
      <i class="fa"></i> <a href="https://www.westerncape.gov.za/dept/health" target="_blank">Health data from WC Dept of Health</a>
    </li>
  </ul>
</div>
</div>
<div class="clearfix">
<div class="footer-logos">
  <a href="http://www.povertyandinequality.uct.ac.za/" target="_blank"><img img class="footer-logo"src="{% static 'img/uct-logo.png' %}"></a>
  <a href="http://www.povertyandinequality.uct.ac.za/" target="_blank"><img img class="footer-logo" src="{% static 'img/pii-logo.png' %}"></a>
  <a href="https://www.saldru.uct.ac.za/" target="_blank"><img img class="footer-logo" src="{% static 'img/saldru-logo.png' %}"></a>
  <a href="http://www.statssa.gov.za/?page_id=7944" target="_blank"><img img class="footer-logo" src="{% static 'img/statssa-logo.png' %}"></a>
  <a href="http://www.erln.org.za/" target="_blank"><img img class="footer-logo" src="{% static 'img/erln-logo.png' %}"></a>
  <a href="https://www.wits.ac.za/coe-human/" target="_blank"><img img class="footer-logo" src="{% static 'img/cehd-logo.png' %}"></a>
  <a href="https://openup.org.za/" target="_blank"><img class="footer-logo" src="{% static 'img/openup-logo-small.png' %}"></a>
</div>
</div>
